* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(to right, #2d2d30, #0e1e26);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#login {
  background-color: #9088d22c;
  padding: 30px 25px;
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  width: 100%;
  max-width: 400px;
}

#login h2 {
  text-align: center;
  color: #3379cf;
  margin-bottom: 5px;
}

#login i {
  display: block;
  text-align: center;
  color:#fff;
  margin-bottom: 20px;
}

form > div {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

form label {
  font-size: 14px;
  margin-bottom: 5px;
  color: #fff;
}

form input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  outline: none;
  transition: border-color 0.3s;
}

form input:focus {
  border-color: #0072ff;
 
}

span {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

span button {
  padding: 10px 25px;
  background-color: #2573d1;
  border: none;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

span button:hover {
  background-color: #005fd4;
}
